modules/platform/nuxeo-platform-directory/nuxeo-platform-directory-multi/src/test/resources/test-multidir/schemas/schema2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/test/directory-multi/schema2"
  targetNamespace="http://www.nuxeo.org/ecm/schemas/test/directory-multi/schema2">

  <xs:element name="id" type="xs:string" />
  <xs:element name="bar" type="xs:string" />
  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:element name="someValues" type="nxs:stringList"/>

</xs:schema>
