modules/platform/nuxeo-platform-directory/nuxeo-platform-directory-multi/src/test/resources/test-multidir/schemas/schema3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/test/directory-multi/schema3"
  targetNamespace="http://www.nuxeo.org/ecm/schemas/test/directory-multi/schema3">

  <xs:element name="uid" type="xs:string" />
  <xs:element name="thepass" type="xs:string" />
  <xs:element name="thefoo" type="xs:string" />
  <xs:element name="thebar" type="xs:string" />
  <xs:element name="thetruc" type="xs:string" />
  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:element name="theValues" type="nxs:stringList"/>

</xs:schema>
